/* section 1 styles */
.main-section_1 {
    width: 100vw;
    height: 880px;
    background: var(--Dark-blue, #232328);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.main-section_1-slider {
    overflow: hidden;
    height: 488px;
    width: 1200px;
    margin-top: 196px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.main-section_1-slider-line {
    height: 1564px;
}
.main-section_1-slider-line-block_1 {
    display: flex;
    height: 488px;
    transition: all 0.3s ease;
}
.main-section_1-slider-line-block_1 img {
    width: 488px;
    height: 488px;
}
.main-section_1-slider-line-block_1-content {
    margin-left: 122px;
}
.main-section_1-slider-line-block_1-content__heading {
    margin-top: 61px;
    color: var(--White, #FFF);
    font-family: Inter;
    font-size: 56px;
    font-weight: 629;
    letter-spacing: -1.68px;
    line-height: 110%;
}
.main-section_1-slider-line-block_1-content__heading span {
    color: var(--Blue, var(--General, #41A4DF));
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 629;
    line-height: 110%;
    letter-spacing: -1.68px;
}
.main-section_1-slider-line-block_1-content__description {
    margin-top: 32px;
    color: var(--White, #FFF);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.main-section_1-slider-line-block_1-content__button {
    margin-top: 32px;
    display: flex;
    padding: 0px 42px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 900px;
    background: var(--General, #41A4DF);
}
.main-section_1-slider-line-block_1-content__button h1 {
    color: var(--White, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}
.main-section_1-slider-line-block_2 {
    display: flex;
    justify-content: space-between;
    height: 488px;
    transition: all 0.3s ease;
    opacity: 0;
}
.main-section_1-slider-line-block_2 img {
    width: 488px;
    height: 488px;
}

.main-section_1-slider-line-block_3 {
    display: flex;
    justify-content: space-between;
    height: 488px;
    transition-delay: 0.3s;
    transition: all 0.3s ease;
    opacity: 0;

}
.main-section_1-slider-line-block_3 img {
    width: 488px;
    height: 488px;
}
.main-section_1-pagination {
    width: 19px;
    height: 408px;
    margin-top: 40px;
    margin-left: 83px;
}
.main-section_1-pagination__firstcounter {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
}
.main-section_1-pagination__secondcounter {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-top: 12px;
}
.main-section_1-pagination__line {
    width: 4px;
    height: 108px;
    border-radius: 90px;
    background: rgba(255, 255, 255, 0.24);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    transition: all 0.3s ease;
}

.main-section_1-pagination_2 {
    width: 335px;
    height: 17px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}
.main-section_1-pagination_2__firstcounter {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-left: 0;
    margin-top: -7px;
}
.main-section_1-pagination_2__secondcounter {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-left: 12px;
    margin-top: -7px;
}
.main-section_1-pagination_2__line {
    width: 82px;
    height: 4px;
    border-radius: 90px;
    background: rgba(255, 255, 255, 0.24);
    margin-left: auto;
    margin-right: auto;
    margin-left: 12px;
    transition: all 0.3s ease;
}
/* media queries */

@media (max-width: 1200px) {
    .main-section_1 {
        height: 750px;
    }
    .main-section_1-slider {
        width: 335px;
        height: 605px;
        width: fit-content;
        margin-top: 32px;
        padding: 0;
        justify-content: flex-start;
        flex-direction: column;
    }
    .main-section_1-slider-line {
        height: 1815px;
        padding: 0;
    }
    .main-section_1-slider-line-block_1 {
        flex-direction: column;
        align-items: center;
        width: 375px;
        height: 605px;
        margin: 0;
    }
    .main-section_1-slider-line-block_1 img {
        width: 335px;
        height: 335px;
        margin-left: auto;
        margin-right: auto;
    }
    .main-section_1-slider-line-block_1-content {
        margin: 0;
    }
    .main-section_1-slider-line-block_1-content__heading {
        width: 335px;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        font-size: 32px;
        text-align: center;
        white-space: wrap;
    }
    .main-section_1-slider-line-block_1-content__heading span {
        font-size: 32px;
    }
    .main-section_1-slider-line-block_1-content__heading  br {
        display: none;
    }
    .main-section_1-slider-line-block_1-content__heading span br {
        display: none;
    }
    .main-section_1-slider-line-block_1-content__description {
        width: 335px;
        text-align: center;
        font-size: 18px;
        white-space: wrap;
        text-align: center;
        margin-top: 20px;
    }
    .main-section_1-slider-line-block_1-content__description br {
        display: none;
    }
    .main-section_1-slider-line-block_1-content__button {
        width: 335px;
        height: 46px;
        margin-top: 25px;
    }
    /* block 2 */
    .main-section_1-slider-line-block_2 {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 375px;
        height: 605px;
        margin: 0;
    }
    .main-section_1-slider-line-block_2 img {
        width: 335px;
        height: 335px;
        margin-left: auto;
        margin-right: auto;
    }
    /* block 3 */
    .main-section_1-slider-line-block_3 {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 375px;
        height: 605px;
        margin: 0;
    }
    .main-section_1-slider-line-block_3 img {
        width: 335px;
        height: 335px;
        margin-left: auto;
        margin-right: auto;
    }
    .main-section_1-pagination {
        display: none;
    }
    .main-section_1-pagination_2 {
        display: flex;
    }
}